/* -------------------------------------------------------------------------- */
/*                              CUSTOM PROPERTIES                             */
/* -------------------------------------------------------------------------- */
:root {
  --b-radius: .9375rem;
  --b-radius-btn: .3125rem;
}

/* -------------------------------------------------------------------------- */
/*                                   GLOBAL                                   */
/* -------------------------------------------------------------------------- */
header {
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
}

.wp-block-button .wp-block-button__link,
.elementor-button-wrapper .elementor-button,
.elementor-button-wrapper .elementor-button:visited {
  @apply text-tertiary;
}
.wp-block-button .wp-block-button__link:is(:hover, :focus),
.elementor-button-wrapper .elementor-button:is(:hover, :focus),
.elementor-button-wrapper .elementor-button:visited:is(:hover, :focus) {
  @apply border-tertiary bg-tertiary text-primary;
}

.social .dce-acf-repeater-list {
  display: inline-flex;
  list-style-type: none;
  gap: 15px;
  margin: 0;
}

.social__item {
  @apply text-primary;
  font-size: 1.4375rem;
}
.social__item:is(:hover, :focus) {
  @apply text-white;
}

.elementor-widget-icon-box:is(:hover, :focus) h4 {
  @apply text-primary;
}

.elementor-widget-icon-box a:after {
  content: "";
  display: block !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* -------------------------------------------------------------------------- */
/*                                 COMPONENTS                                 */
/* -------------------------------------------------------------------------- */
.logo__wrapper {
  overflow: hidden;
}

.tab__content-wrapper {
  padding-block-end: 3.125rem !important;
}
@media (max-width: 991px) {
  .tab__content-wrapper > .swiper-wrapper {
    left: 34px;
  }
}

.plans__tabs .elementor-tabs > .elementor-tabs-wrapper {
  display: flex;
  justify-content: center;
  gap: 1.525rem;
  margin-block-end: 3.125rem;
}
@media (min-width: 768px) {
  .plans__tabs .elementor-tabs > .elementor-tabs-wrapper {
    gap: 3.125rem;
  }
}
@media (max-width: 767px) {
  .plans__tabs .elementor-tabs > .elementor-tabs-wrapper {
    flex-wrap: wrap;
    padding-inline: 1.875rem;
  }
}

.plans__tabs .elementor-tabs > .elementor-tabs-wrapper .elementor-tab-title {
  @apply border-solid border-2 border-tertiary;
  border-radius: var(--b-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  height: 9rem;
  width: 9rem;
  padding: 1.25em;
  text-align: center;
  transition: background-color 300ms ease-in-out;
}
@media (min-width: 768) {
  .plans__tabs .elementor-tabs > .elementor-tabs-wrapper .elementor-tab-title {
    height: 10rem;
    width: 10rem;
  }
}
.plans__tabs .elementor-tabs > .elementor-tabs-wrapper .elementor-tab-title::before, .plans__tabs .elementor-tabs > .elementor-tabs-wrapper .elementor-tab-title::after {
  border: none !important;
}
.plans__tabs .elementor-tabs > .elementor-tabs-wrapper .elementor-tab-title.elementor-active, .plans__tabs .elementor-tabs > .elementor-tabs-wrapper .elementor-tab-title:is(:hover, :focus) {
  @apply bg-tertiary/[.2];
}

.elementor-widget-tabs.elementor-tabs-view-horizontal .elementor-tab-desktop-title.elementor-active {
  border-bottom-style: solid !important;
}

.plans__tabs .elementor-tab-title img {
  order: -1;
  width: 3.125rem;
}
@media (min-width: 768) {
  .plans__tabs .elementor-tab-title img {
    width: 4.375rem;
  }
}

.plans__tabs .elementor-tabs > .elementor-tabs-content-wrapper,
.plans__tabs .elementor-tabs > .elementor-tabs-content-wrapper .elementor-tab-content {
  border: none !important;
}

.plans__tabs .elementor-tabs > .elementor-tabs-content-wrapper .elementor-tab-content {
  padding: 0;
}

.plans__tabs .elementor-tabs > .elementor-tabs-content-wrapper .elementor-tab-mobile-title {
  display: none !important;
}

.plan__wrapper {
  @apply border-solid border-[5px] border-tertiary;
  border-radius: var(--b-radius);
  display: flex !important;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  min-height: 450px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.plan__wrapper::after {
  content: "";
  position: absolute;
  bottom: -80px;
  left: 50%;
  height: 100px;
  width: 100px;
  transform: translateX(-50%);
  border-radius: 50%;
  filter: blur(20px);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}
.plan__wrapper:hover::after {
  opacity: 1;
  visibility: visible;
}

.plan__wrapper:nth-child(odd) {
  @apply bg-tertiary text-white;
}
.plan__wrapper:nth-child(odd)::after {
  @apply bg-primary;
}
.plan__wrapper:nth-child(odd) > .plan__header {
  @apply bg-primary text-tertiary;
}
.plan__wrapper:nth-child(odd) .plan__price {
  @apply text-primary;
}
.plan__wrapper:nth-child(odd) .plan__internet {
  @apply border-primary;
}

.plan__wrapper:nth-child(even) {
  @apply bg-white text-tertiary;
}
.plan__wrapper:nth-child(even)::after {
  @apply bg-secondary;
}
.plan__wrapper:nth-child(even) > .plan__header {
  @apply bg-secondary text-white;
}
.plan__wrapper:nth-child(even) .plan__price {
  @apply text-secondary;
}
.plan__wrapper:nth-child(even) .plan__internet {
  @apply border-secondary;
}

.plan__header {
  border-top-left-radius: 0.5625rem;
  border-top-right-radius: 0.5625rem;
  font-size: 2.125rem;
  padding: 0.35em 1.875em;
  text-transform: uppercase;
}

.plan__price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3125rem;
  font-size: 2.375rem;
}
.plan__price > span {
  font-size: 28px;
}

.plan__content {
  flex: 1;
  padding: 1.875em 3.75em;
}

.plan__internet {
  border-bottom: 1px solid;
  padding-block-end: 0.9375rem;
}

.plan__television {
  padding-block-start: 0.9375rem;
}

.plan__internet > .title,
.plan__television > .title {
  font-size: 1.625rem;
  font-style: italic;
  line-height: 1;
  margin-block-end: 0.3125rem;
}
.plan__internet > .descripcion,
.plan__internet > .router,
.plan__television > .descripcion,
.plan__television > .router {
  font-size: 0.875rem;
  line-height: 1.3;
}

.plan__action {
  align-self: flex-end;
  margin-block-start: 50px;
  position: relative;
  z-index: 1;
}
.plan__action > a {
  @apply bg-secondary text-white;
  border-radius: var(--b-radius-btn);
  display: block;
  padding-block: 0.625rem;
  width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                                Contact Form                                */
/* -------------------------------------------------------------------------- */
.wpcf7-form.invalid .wpcf7-response-output {
  display: none;
}
.wpcf7-form .wpcf7-not-valid-tip {
  @apply text-primary;
}
.wpcf7-form .wpcf7-spinner {
  background-color: transparent;
  height: 2.1875rem;
  width: 2.1875rem;
  opacity: 1;
}
.wpcf7-form .wpcf7-spinner::before {
  background-color: transparent;
  background-image: url("../img/iso-mesnet.svg");
  background-size: 2.1875rem;
  height: 2.1875rem;
  width: 2.1875rem;
  top: 15px;
  transform-origin: center;
}
.wpcf7-form .wpcf7-response-output {
  @apply bg-primary text-tertiary;
  border: none !important;
  margin: 0 !important;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
}
@media (min-width: 576px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
  }
}
.form__item {
  @apply text-white;
}
.form__item--full {
  grid-column: 1/-1;
}
.form__item textarea {
  max-height: 6.25rem;
  resize: none;
}
.form__item .btn {
  @apply bg-primary;
  border: none;
  font-weight: 900;
  transition: all 0.3s ease-in-out;
}
.form__item .wpcf7-not-valid-tip {
  @apply text-primary;
  font-size: 0.75rem;
}
.form__item > p {
  margin-bottom: 0 !important;
}
.form + .wpcf7-response-output {
  border: 0 !important;
  font-size: 0.875rem;
  margin-inline: 0;
}

@keyframes textPulse {
  0%, 50% {
    @apply text-primary;
  }
  100% {
    @apply text-secondary;
  }
}
/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
.site-footer {
  background-image: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-blend-mode: screen;
}