/* -------------------------------------------------------------------------- */
/*                              CUSTOM PROPERTIES                             */
/* -------------------------------------------------------------------------- */
:root {

  // Border
  --b-radius: .9375rem;
}

/* -------------------------------------------------------------------------- */
/*                                   GLOBAL                                   */
/* -------------------------------------------------------------------------- */

// Buttons
.wp-block-button .wp-block-button__link, 
.elementor-button-wrapper .elementor-button, 
.elementor-button-wrapper .elementor-button:visited {
  @apply text-tertiary;
  &:is(:hover, :focus) {
    @apply border-tertiary bg-tertiary text-primary;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 COMPONENTS                                 */
/* -------------------------------------------------------------------------- */

// Main info logo bg
.logo__wrapper {
  overflow: hidden;
}

// Tabs
.tab__content-wrapper {
  padding-block-end: 3.125rem !important;

  & > .swiper-wrapper {
    left: 34px;
  }
}

// Tabs - Tab Title
.plans__tabs .elementor-tabs > .elementor-tabs-wrapper{
  display: flex;
  justify-content: center;
  gap: 3.125rem;
  margin-block-end: 3.125rem
}

.plans__tabs .elementor-tabs > .elementor-tabs-wrapper .elementor-tab-title {
  @apply border-solid border-2 border-tertiary;
  border-radius: var(--b-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  height: 9.375rem;
  width: 9.375rem;
  padding: 1.25em;
  transition: background-color 300ms ease-in-out;
  
  &::before, &::after {
    border: none !important;
  }

  &.elementor-active,
  &:is(:hover, :focus) {
    @apply bg-tertiary/[.2];
  }

}

// Override .elementor-active border
.elementor-widget-tabs.elementor-tabs-view-horizontal .elementor-tab-desktop-title.elementor-active {
  border-bottom-style: solid !important;
}

.plans__tabs .elementor-tab-title img {
  order: -1;
  width: 4.375rem;
}

// Tabs - Tab Content
.plans__tabs .elementor-tabs > .elementor-tabs-content-wrapper,
.plans__tabs .elementor-tabs > .elementor-tabs-content-wrapper .elementor-tab-content {
  border: none !important;
}

.plans__tabs .elementor-tabs > .elementor-tabs-content-wrapper .elementor-tab-content {
  padding: 0;
}

.plans__tabs .elementor-tabs > .elementor-tabs-content-wrapper .elementor-tab-mobile-title {
  display: none !important;
}

.plan__wrapper {
  @apply border-solid border-[5px] border-tertiary; 
  border-radius: var(--b-radius);
  font-family: 'Montserrat',sans-serif;
  font-weight: 900;
  min-height: 353px;
  text-align: center;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    bottom: -80px;
    left: 50%;
    height: 100px;
    width: 100px;
    transform: translateX(-50%);
    border-radius: 50%;
    filter: blur(20px);
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
  }

  &:hover::after {
    opacity: 1;
    visibility: visible;
  }

}

// Odd Even style
.plan__wrapper:nth-child(odd) {
  @apply bg-tertiary text-white; 
  &::after {
    @apply bg-primary;
  }
  & > .plan__header {
    @apply bg-primary text-tertiary;
  }
  .plan__price {
    @apply text-primary;
  }
  .plan__internet {
    @apply border-primary;
  }
}

.plan__wrapper:nth-child(even) {
  @apply bg-white text-tertiary; 
  &::after {
    @apply bg-secondary;
  }
  & > .plan__header {
    @apply bg-secondary text-white;
  }
  .plan__price {
    @apply text-secondary;
  }
  .plan__internet {
    @apply border-secondary;
  }
}

// Header
.plan__header {
  border-top-left-radius: .5625rem;
  border-top-right-radius: .5625rem;
  font-size: 2.125rem;
  padding: 0.35em 1.875em;
  text-transform: uppercase;
}

.plan__price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3125rem;
  font-size: 2.375rem;

  & > span {
    font-size: 28px;
  }
}

// Content
.plan__content {
  padding: 1.875em 3.75em;
}

.plan__internet {
  border-bottom: 1px solid;
  padding-block-end: .9375rem;
}

.plan__television {
  padding-block-start: .9375rem;
}

.plan__internet,
.plan__television {
  > .title {
    font-size: 1.625rem;
    font-style: italic;
    line-height: 1;
    margin-block-end: .3125rem;
  }
  > .descripcion {
    font-size: .875rem;
    line-height: 1.3;
  }
}

/* -------------------------------------------------------------------------- */
/*                                Contact Form                                */
/* -------------------------------------------------------------------------- */
.wpcf7-form {
  &.invalid {
      .wpcf7-response-output {
          display: none;
      }
  }

  .wpcf7-not-valid-tip {
      @apply text-primary;
  }

  .wpcf7-spinner {
      background-color: transparent;
      height: 2.1875rem;
      width: 2.1875rem;
      opacity: 1;

      &::before {
          background-color: transparent;
          background-image: url('http://mesnet.local/wp-content/uploads/2023/03/isotipo-mesnet.svg');
          background-size: 2.1875rem;
          height: 2.1875rem;
          width: 2.1875rem;
          top: 15px;
          transform-origin: center;
      }
  }

  .wpcf7-response-output {
      @apply bg-primary text-tertiary;
      border: none !important;
      margin: 0 !important;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;

  @media (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
  }

  &__item {
    @apply text-white;
      &--full {
          grid-column: 1 / -1;
      }

      textarea {
          max-height: 6.25rem;
          resize: none;
      }

      .btn {
          @apply bg-primary;
          border: none;
          font-weight: 900;
          transition: all .3s ease-in-out;

          &:hover,
          &:focus {
              
          }
      }

      .wpcf7-not-valid-tip {
          @apply text-primary;
          font-size: .75rem;
      }

      &>p {
          margin-bottom: 0 !important;
      }
  }

  &+.wpcf7-response-output {
      border: 0 !important;
      font-size: .875rem;
      margin-inline: 0;
  }
}

@keyframes textPulse {

  0%,
  50% {
      @apply text-primary;
  }

  100% {
      @apply text-secondary;
  }
}