/* -------------------------------------------------------------------------- */
/*                              CUSTOM PROPERTIES                             */
/* -------------------------------------------------------------------------- */
:root {
  --b-radius: .9375rem;
}

/* -------------------------------------------------------------------------- */
/*                                   GLOBAL                                   */
/* -------------------------------------------------------------------------- */
.wp-block-button .wp-block-button__link,
.elementor-button-wrapper .elementor-button,
.elementor-button-wrapper .elementor-button:visited {
  @apply text-tertiary;
}
.wp-block-button .wp-block-button__link:is(:hover, :focus),
.elementor-button-wrapper .elementor-button:is(:hover, :focus),
.elementor-button-wrapper .elementor-button:visited:is(:hover, :focus) {
  @apply border-tertiary bg-tertiary text-primary;
}

/* -------------------------------------------------------------------------- */
/*                                 COMPONENTS                                 */
/* -------------------------------------------------------------------------- */
.logo__wrapper {
  overflow: hidden;
}

.plans__tabs .elementor-tabs > .elementor-tabs-wrapper {
  display: flex;
  justify-content: center;
  gap: 3.125rem;
  margin-block-end: 3.125rem;
}

.plans__tabs .elementor-tabs > .elementor-tabs-wrapper .elementor-tab-title {
  @apply border-2 border-tertiary;
  border-radius: var(--b-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  height: 9.375rem;
  width: 9.375rem;
  padding: 1.25em;
}
.plans__tabs .elementor-tabs > .elementor-tabs-wrapper .elementor-tab-title::before, .plans__tabs .elementor-tabs > .elementor-tabs-wrapper .elementor-tab-title::after {
  border: none;
}

.plans__tabs .elementor-tab-title img {
  order: -1;
  width: 4.375rem;
}